@model ArmyHammerProject.Models.Miniatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Miniatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Raça.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raça.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MidaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipusTropa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipusTropa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moviment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moviment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HabilitatArmes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HabilitatArmes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HabilitatProjectils)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HabilitatProjectils)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Força)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Força)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ferides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ferides)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iniciativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iniciativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lideratge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lideratge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalvacioArmadura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalvacioArmadura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalvacioEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalvacioEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
