@model ArmyHammerProject.Models.MinisPerLlista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MinisPerLlista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Llista.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Llista.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miniatura.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miniatura.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantitat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantitat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
